This is the <a href="/admin"><strong>admin</strong></a> page
<p>This is the raw information from the DB</p>
<ul>
    Click to show all the <a href="/admin/users">"Users"</a>
    {{#each allUsers }}
    <li>
        <div class="row">
            <div class="left">
                <button class="button is-rounded is-danger deleteBtn" data-id="{{user_id}}" data-table="users">
                    Delete
                </button>
            </div>
            <div class="right">
                user ID: {{user_id}}, email: {{email}}, user password: {{user_password}}, admin: {{is_admin}}
            </div>

        </div>
    </li>
    {{/each}}
</ul>

<ul>
    Click to show all the <a href="/admin/news">"News"</a>
    {{#each allNews }}
    <li>
        <div class="row">
            <div class="left">
                <button class="button is-rounded is-danger deleteBtn" data-id="{{news_id}}" data-table="news">
                    Delete
                </button>
            </div>
            <div class="right">
                News ID: {{news_id}}, content: {{content}}, user_id: {{user_id}}, created on: {{createdOn}}
            </div>
        </div>
    </li>
    {{/each}}
</ul>

<ul>
    Click to show all the <a href="/admin/comments">"Comments"</a>
    {{#each allComments }}
    <li>
        <div class="row">
            <div class="left">
                <button class="button is-rounded is-danger deleteBtn" data-id="{{comment_id}}" data-table="comments">
                    Delete
                </button>
            </div>
            <div class="right">
                Comment ID: {{comment_id}}, content: {{content}}, user_id: {{user_id}}, news_id: {{news_id}}, created
                on:
                {{createdOn}}
            </div>
        </div>
    </li>
    {{/each}}
</ul>