this is the admin page
<p>This is the raw information from the DB</p>
{{!-- the code below is onyl to show the data from the DB --}}
{{!I have to do this for news, users, comments}}
<ul>
    Results from the "users" table
    {{#each allUsers }}
    <li>user ID: {{user_id}}, email: {{email}}, user password: {{user_password}}, admin: {{is_admin}}</li>
    {{/each}}
</ul>

<ul>
    Results from the "news" table
    {{#each allNews }}
    <li>user ID: {{news_id}}, content: {{content}}, user_id: {{user_id}}, created on: {{createdOn}}</li>
    {{/each}}
</ul>

<ul>
    Results from the "comments" table
    {{#each allComments }}
    <li>comment ID: {{comment_id}}, content: {{content}}, user_id: {{user_id}},news_id: {{news_id}} created on:
        {{createdOn}}</li>
    {{/each}}
</ul>