<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Family News Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
    <link
        href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat&display=swap&subset=cyrillic,cyrillic-ext"
        rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-small is-light is-bold">
        <div class="hero-body">
            <nav class="navbar" role="navigation">
                <div class="navbar-brand has-icons-right">
                    <h1 class="navbar-item">Family Daily</h1>
                    <div class="buttons">
                        <button class="button userBtn is-primary" user_id="{{user.user_id}}">Logged as
                            {{user.email}}</button>
                        <a class="control" href="/login"><button class="button is-danger">Logout</button></a>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <article class="media addNewsContainer">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <form class="addNews">
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" placeholder="Add a News..." id="content"></textarea>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button newsBtn" type="submit">Post News</button>
                    </p>
                </div>
            </form>
        </div>

    </article>
    {{#each news }}
    <article class="media news" news-id="{{news_id}}" user-id="{{user_id}}">

        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>Written by: {{user_id}}</strong>
                    <br>
                    {{content}}
                    <br>
                    <small><a>Like</a> 路 <a>Reply</a> 路 created on:{{createdOn}}</small>
                </p>
            </div>
            {{#each comments }}
            <article class="media comment" comment-id="{{comment_id}}">
                <figure class="media-left">
                    <p class="image is-48x48">
                        <img src="https://bulma.io/images/placeholders/96x96.png">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Comment by: {{user_id}}</strong>
                            <br>
                            {{content}}
                            <br>
                            <small><a>Like</a> 路 <a>Reply</a> 路 added on:{{createdOn}}</small>
                        </p>
                    </div>
                </div>
            </article>
            {{/each}}
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                </figure>
                <div class="media-content">
                    <form class="addComment" news_id="{{news_id}}">
                        <div class="field">
                            <p class="control">
                                <textarea class="textarea" placeholder="Add a comment..." id="content"></textarea>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button commentBtn" type="submit">Post
                                    comment</button>
                            </p>
                        </div>
                    </form>
                </div>
            </article>
        </div>

    </article>
    {{/each}}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Family News Website</strong> by Hristina, Saul, Ana Paula. ESMT Coding
                Bootcamp.
            </p>
        </div>
    </footer>
</body>

</html>