<section class="hero is-small is-light">
    <div class="hero-body">
        <nav class="navbar" role="navigation">
            <div class="navbar-brand">
                <h1 class="navbar-item title">My Family Daily</h1>
            </div>
            <div class="navbar-end">
                <div class="navbar-item userBtn" user_id="{{user.user_id}}">Logged as: {{user.email}}
                </div>
                {{#if user.is_admin}}
                <a class="control navbar-item" href="/admin"><button class="button is-link">Admin
                        Page</button>
                </a>
                {{/if}}
                <a class="control navbar-item" href="/logout">
                    <button class="button is-danger">Logout</button>
                </a>
            </div>
        </nav>
    </div>
    </div>
    </nav>
    </div>
</section>

<section>
    <div class="container has-text-justified">
        <div class="columns">
            <div class="column is-three-quarters">
                <article class="media addNewsContainer">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="https://picsum.photos/128">
                        </p>
                    </figure>
                    <div class="media-content">
                        <form class="addNews">
                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea" placeholder="What's up today?" id="content"></textarea>
                                </p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button class="button newsBtn" type="submit">Post it!</button>
                                </p>
                            </div>
                        </form>
                    </div>

                </article>
                {{#each news }}
                <article class="media news" news-id="{{news_id}}" user-id="{{user_id}}">
                    <figure class="media-left">
                        <p class="image is-64x64">
                            <img src="https://picsum.photos/128">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Written by: {{email}}</strong>
                                <br>
                                {{content}}
                                <br>
                                created on: {{shortDate createdOn}}</small>
                            </p>
                        </div>
                        {{#each comments }}
                        <article class="media comment" comment-id="{{comment_id}}">
                            <figure class="media-left">
                                <p class="image is-48x48">
                                    <img src="https://picsum.photos/96">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Comment by: {{email}}</strong>
                                        <br>
                                        {{content}}
                                        <br>
                                        added on: {{shortDate createdOn}}</small>
                                    </p>
                                </div>
                            </div>
                        </article>
                        {{/each}}
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="https://picsum.photos/128">
                                </p>
                            </figure>
                            <div class="media-content">
                                <form class="addComment" news_id="{{news_id}}">
                                    <div class="field">
                                        <p class="control">
                                            <textarea class="textarea" placeholder="Add a comment..."
                                                id="content"></textarea>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control">
                                            <button class="button commentBtn" type="submit">Post comment</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </article>
                    </div>
                </article>
                {{/each}}
            </div>
            <div class="column">
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-parent">
                        <div class="tile is-child box time-box">
                            <p>Current time in Berlin:</p>
                            <p id="time">........</p>
                        </div>
                        <div class="tile is-child box weather-box">
                            <p>Current weather in Berlin:</p>
                            <p id="weather">........</p>
                        </div>
                        <div class="tile is-child box">
                            <p class="button is-link">Invite your family!</p>
                        </div>
                        <div class="tile is-child box">
                            <p class="button is-danger changePswrd">Change your password</p>
                            <div class="modal">
                                <div class="modal-background"></div>
                                <div class="modal-content">
                                    <form class="login">
                                        <div class="field">
                                            <p class="control">
                                                <input class="input" type="password" name="password" required
                                                    placeholder="Enter your new password here" id="userPassword">
                                            </p>
                                        </div>
                                        <div class="field">
                                            <p class="control">
                                                <button class="button is-danger" type="submit" id="changePasswordBtn">
                                                    Login
                                                </button>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                                <button class="modal-close is-large" aria-label="close"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="/assets/js/loggeduser.js"></script>
<script type="text/javascript" src="/assets/js/weather_api.js"></script>
<script type="text/javascript" src="/assets/js/time_api.js"></script>